/* prevent problems with other browsers */

*{box-sizing: border-box;}

body {

    font-family: "arpona";
    font-weight: 700;
    font-style: normal;

}

/* Cell Phone Query */

@media screen and (max-width: 847px) {
   

    nav ul {
        flex-direction: column !important;
        align-items: center !important;
    }

    nav ul li {
        margin: 5px 5px !important; 
        text-align: center !important;
    }

    nav ul li a {
        font-size: 1.2em !important; 
    }
    nav li.active a{
        background-color: #111111 !important;
        background-image: linear-gradient(to bottom, #111111, #272727) !important;
        color:  #76b39d !important;
    
    }
    
    nav a:hover {
        color:  #f9f8eb !important;
    
    }
}
/* Title Query */
@media only screen and (max-width:703px) {
    .header-flex {
        display: block !important;  
        text-align: center !important; 
    }

    .header-title {
        font-size: .5em !important;  
        margin: 5px 5px !important; 
    }

    .header-logo {
        width: 80px !important; 
    }

    .header-flex h1 {
        margin: 5px 5px !important; 
    }

    header {
        padding: 10px 0 !important; 
    }

    .header-content {
        flex-direction: column !important;
        text-align: center !important;
    }

    .header-title {
        font-size: .5em !important; 
        margin: 5px 5px !important;
    }
}

/* Computers Query */

@media only screen and (min-width:848px) {
    nav { 
        background-color: #76b39d;
    
    
    }
    
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    
    
    }
    
    nav a {
        font-size: .9rem;
        text-decoration: none;
        color: #111111;
        display: block;
        padding: .83rem 2rem;
    }
    
    nav li.active a{
        background-color: #111111;
        color:  #76b39d;
    
    }
    
    nav a:hover {
        color:  #f9f8eb;
    
    }
}


/* header stuff here */

header {
    background-color: #111111;
    padding: 1rem 2vw;
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;

}

header h1{
    margin: 0;
    color: #f9f8eb;
    font-weight: 300;
    font-size: 300%;

}

header p{
    margin: 0;
    color: #f9f8eb;
    letter-spacing: .5px;
    font-weight: 200;

}

/* Navigation section here */

nav { 
    background-color: #76b39d;
    max-width: 1920px;
    margin: 0 auto;

}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;


}

nav a {
    font-size: .9rem;
    text-decoration: none;
    color: #111111;
    display: block;
    padding: .83rem 2rem;
}

nav li.active a{
    background-color: #111111;
    color:  #76b39d;

}

nav a:hover {
    color:  #f9f8eb;

}

/* Main Section here. */

main {
    padding: 1rem 2vw;
    max-width: 1120px;
    margin: 0 auto;
}


main h2 { 
    color: #589e85;
    margin-bottom: 0.2rem;
    font-weight: 300;
    font-size: 200%;
    
    
}

main p {
    color: #111111;
    margin: 0 0 .3rem 0;
    font-family: "kranto-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;

}


main ul {
    list-style-type:disc;
    
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    font-family: "kranto-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}

main address {
    font-style: normal;
    padding: .5rem;
    width:12.5rem;
    border-style: solid;
    border-color: black;
    border-radius: .9rem;

}

main a {
    color: #589e85;

}

main a:hover {
    color: #111111;

}

/*Form stuff here */

.myform fieldset {
    border-radius: 3px;
    border: #589e85 solid 1px;
    margin-bottom: .8rem;
}

.myform legend {
    color: #589e85;
    font-size: .8rem;

}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea {
    display: block;
}

.myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea {
    border: solid 1px #111111;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternatives', sans-serif;
    font-weight: 200;

}

.myform textarea {
    height: 10rem;

}

.myform :required {
    background-color: #f9f8eb;

}

.myform [type=submit] {
    background-color: #589e85;
    border: none;
    padding: 1rem 2rem;
    border-radius: .3rem;
    color: white;
    margin: 1rem 0 0 1vw;
    cursor: pointer; /* Optional: adds a pointer cursor on hover */
}

.myform [type=submit]:hover {
    background-color: #111111;
    color: #589e85;
}

/* Footer Section here. */

footer{
    background-color: #111111;
    text-align: center;
    color: #76b39d;
    padding: 1rem 0;
    font-size: .8rem;
    font-family: "kranto-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 85%;
    max-width: 1920px;
    margin: 0 auto;

}

footer a {
    color: #76b39d;
    font-family: "kranto-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 85%;
    
}

footer a:hover {
    color: #f9f8eb;
}